* {
    font-family: Comfortaa;
}

html {
    font-size: 100%;
}

.title-bar {
    background-color: #eae5c7;
}

.off-canvas-wrapper {
    padding-top: 3rem;
}

#content-container-rate-line {
    border-style: solid;
    border-width: 0.5rem;
    border-color: rgb(158, 37, 37);
}

#content-container-rate {
    background-color: #eae5c7;
    padding: 3rem;
    color: rgb(63, 42, 25);
    border-left-style: dashed;
    border-right-style: dashed;
    border-width: 0.8rem;
    border-color: white;
}

#content-container {
    background-color: #eae5c7;
    padding: 3rem;
    color: white;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-width: 0.8rem;
    border-color: white;
}

#movie-title {
    border-bottom-style: solid;
    border-color: rgb(158, 37, 37);
    border-width: 0.5rem;
}

h2 {
    font-weight: bold;
}
h3{
    font-weight: bold;
    color: rgb(158, 37, 37);
}

p {
    font-size: 1.2rem;
}

#movies {
    font-size: 2rem;
}

p,
a {
    color: rgb(63, 42, 25);
}

span {
    font-size: 1.5rem;
}

img {
    width: 15rem;
    height: auto;
}

#buttons {
    padding-bottom: 2rem;
}

#buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 17px;
}
  
#buttons a:hover {
    background-color: rgb(102, 18, 18);
}
  
.previous {
    background-color: rgb(158, 37, 37);
    color: white;
}
  
.next {
    background-color: rgb(158, 37, 37);
    color: white;
}
  
.round {
    border-radius: 50%;
}