<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/mystyle.css">
</head>
<body>
    <div class="title-bar">
        <div class="grid-container">
            <div class="grid-x grid-padding-x" id="title-links">
                <a href="/titles/A" class="cell auto">A</a>
                <a href="/titles/B" class="cell auto">B</a>
                <a href="/titles/C" class="cell auto">C</a>
                <a href="/titles/D" class="cell auto">D</a>
                <a href="/titles/E" class="cell auto">E</a>
                <a href="/titles/F" class="cell auto">F</a>
                <a href="/titles/G" class="cell auto">G</a>
                <a href="/titles/H" class="cell auto">H</a>
                <a href="/titles/I" class="cell auto">I</a>
                <a href="/titles/J" class="cell auto">J</a>
                <a href="/titles/K" class="cell auto">K</a>
                <a href="/titles/L" class="cell auto">L</a>
                <a href="/titles/M" class="cell auto">M</a>
                <a href="/titles/N" class="cell auto">N</a>
                <a href="/titles/O" class="cell auto">O</a>
                <a href="/titles/P" class="cell auto">P</a>
                <a href="/titles/Q" class="cell auto">Q</a>
                <a href="/titles/R" class="cell auto">R</a>
                <a href="/titles/S" class="cell auto">S</a>
                <a href="/titles/T" class="cell auto">T</a>
                <a href="/titles/U" class="cell auto">U</a>
                <a href="/titles/V" class="cell auto">V</a>
                <a href="/titles/W" class="cell auto">W</a>
                <a href="/titles/X" class="cell auto">X</a>
                <a href="/titles/Y" class="cell auto">Y</a>
                <a href="/titles/Z" class="cell auto">Z</a>
            </div>
            <div class="grid-x grid-padding-x align-center-middle text-center">
                <a href="/stars/5-4" class="cell auto">5-4 Stars</a>
                <a href="/stars/3-2" class="cell auto">3-2 Stars</a>
                <a href="/stars/1-0" class="cell auto">1-0 Stars</a>
            </div>
        </div>
    </div>
    <div class="off-canvas-wrapper">
        <!-- Your page content lives here -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container" id="content-container">
                <!-- `grid-x` represents a row -->
                <div class="grid-container" id="content-container-rate-line">
                    <div class="grid-x grid-padding-x align-center-middle text-center">
                        <p id="movies">$$MOVIE TITLES$$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- include before closing <body> tag -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>
