<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>$$MOVIE$$</title>
	<link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/mystyle.css">
    <script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
</head>
<body>
	<div class="title-bar">
        <div class="grid-container">
            <div class="grid-x grid-padding-x" id="title-links">
                <a href="/titles/A" class="cell auto">A</a>
                <a href="/titles/B" class="cell auto">B</a>
                <a href="/titles/C" class="cell auto">C</a>
                <a href="/titles/D" class="cell auto">D</a>
                <a href="/titles/E" class="cell auto">E</a>
                <a href="/titles/F" class="cell auto">F</a>
                <a href="/titles/G" class="cell auto">G</a>
                <a href="/titles/H" class="cell auto">H</a>
                <a href="/titles/I" class="cell auto">I</a>
                <a href="/titles/J" class="cell auto">J</a>
                <a href="/titles/K" class="cell auto">K</a>
                <a href="/titles/L" class="cell auto">L</a>
                <a href="/titles/M" class="cell auto">M</a>
                <a href="/titles/N" class="cell auto">N</a>
                <a href="/titles/O" class="cell auto">O</a>
                <a href="/titles/P" class="cell auto">P</a>
                <a href="/titles/Q" class="cell auto">Q</a>
                <a href="/titles/R" class="cell auto">R</a>
                <a href="/titles/S" class="cell auto">S</a>
                <a href="/titles/T" class="cell auto">T</a>
                <a href="/titles/U" class="cell auto">U</a>
                <a href="/titles/V" class="cell auto">V</a>
                <a href="/titles/W" class="cell auto">W</a>
                <a href="/titles/X" class="cell auto">X</a>
                <a href="/titles/Y" class="cell auto">Y</a>
                <a href="/titles/Z" class="cell auto">Z</a>
            </div>
            <div class="grid-x grid-padding-x align-center-middle text-center">
                <a href="" class="cell auto">5-4 Stars</a>
                <a href="" class="cell auto">3-2 Stars</a>
                <a href="" class="cell auto">1 Stars</a>
            </div>
        </div>
    </div>

	<div class="off-canvas-wrapper">
        <!-- Your page content lives here -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container" id="content-container-rate">
                <!-- `grid-x` represents a row -->
                <div class="grid-container" id="content-container-rate-line">
					<div class="grid-x grid-padding-x align-center-middle" id="movie-title">
						<h1>$$MOVIE TITLE$$ Scores</h1>
					</div>
					<div class="grid-x grid-padding-x">
						<div class="cell large-auto" style="padding-bottom: 2rem; padding-left: 2rem;">
							<h2>Fandango</h2>
							<div class="fandango">
								<p>Fandango Stars: <span>$$FAN_STARS$$</span>/5 <img src="../stars_img/$$NUM_FAN_STARS$$star.PNG" alt="$$NUM_FAN_STARS$$stars"></p></p>
								<p>Fandango Rating Value: <span>$$FAN_RATE_VAL$$</span>/5</p>
							</div>
	
							<h2>Metacritic</h2>
							<div class="metaCrit">
								<p>Metacritic Critic Score: <span>$$META_CRIT_SCORE$$</span>/100</p>
								<p>Normalized Metacritic Critic Score: <span>$$META_CRIT_SCORE_NORM$$</span>/5 <img src="../stars_img/$$NUM_META_STARS$$star.PNG" alt="$$NUM_META_STARS$$stars"></p></p>
								<p>User Score: <span>$$META_USER_SCORE$$</span>/10</p>
								<p>Normalized User Score: <span>$$META_USER_SCORE_NORM$$</span>/5 <img src="../stars_img/$$NUM_META_USER_STARS$$star.PNG" alt="$$NUM__META_USER_STARS$$stars"></p></p>
							</div>
						</div>
						<div class="cell large-auto">
							<h2>Rotton Tomatoes</h2>
							<div class="rot_tom">
								<p>Tomatometer Score: <span>$$TOMATOMETER_SCORE$$%</span></p>
								<p>Normalized Tomatometer Score: <span>$$TOMATOMETER_SCORE_NORM$$</span>/5 <img src="../stars_img/$$NUM_TOM_STARS$$star.PNG" alt="$$NUM_TOM_STARS$$stars"></p></p>
								<p>User Score: <span>$$TOMATOE_USER_SCORE$$</span></p>
								<p>Normalized User Score: <span>$$TOMATOE_USER_SCORE_NORM$$</span>/5 <img src="../stars_img/$$NUM_TOM_USER_STARS$$star.PNG" alt="$$NUM_TOM_USER_STARS$$stars"></p></p>
							</div>
							<h2>IMDB</h2>
							<div class="imdb">
								<p>IMDb User Score: <span>$$IMDB_USER$$</span>/10</p>
								<p>Normalized Score: <span>$$IMDB_NORM$$</span>/5 <img src="../stars_img/$$NUM_IMDB_STARS$$star.PNG" alt="$$NUM_IMDB_STARS$$stars"></p>
							</div>
						   
						</div>
				</div>
                </div>
            </div>
            <br>
            <br>
            <div class="grid-container" id="content-container-rate">
                <!-- `grid-x` represents a row -->
                <div class="grid-container" id="content-container-rate-line">
					<div id='myDiv' style="padding-bottom: 3rem;"><!-- Plotly chart will be drawn inside this DIV --></div>
				</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">   

        var data = [
            {
                x: ['Fandango Stars', 'Fandango Rating Value', 'Metacritic Critic Score', 'Metacritic User Score', 'Tomatometer Score', 'Rotten Tomatoes User Score', 'IMDb User Score'],
                y: ['$$DATA$$'],
                type: 'bar',
                marker: {
                    color: 'rgb(158, 37, 37)'
                }
                
            }
            
        ];

        var layout = {
            title: '$$MOVIE TITLE$$ Ratings Breakdown',
            barmode: 'stack',
            paper_bgcolor: '#eae5c7',
            plot_bgcolor: '#eae5c7',
            height: 600,
            showlegend: false,
            annotations: [],
           
            bargap :0.05
        };

    
        Plotly.newPlot('myDiv', data, layout);
  
    </script>
</body>
</html>
